<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>learnt-app.auth0.com</string>
	<key>Clientld</key>
	<string>hp3bDjTKMwaPm8ftRQxKsXCbWnFqa0Y1</string>
</dict>
</plist>
